<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ resume.basics.name }} - Resume</title>
  {{{includeCSS stylesPath}}}
</head>
<body>


  
	<div id="resume">
		{{> sections/basics }}
		{{> sections/work }}
		{{> sections/volunteer }}
		{{> sections/education }}
		{{> sections/awards }}
		{{> sections/publications }}
		{{> sections/skills }}
		{{> sections/languages }}
		{{> sections/interests }}
		{{> sections/references }}
	</body>


  <!-- Add more sections based on your resume structure -->

</body>
</html>
